:root {
    --primary-color: #10a4ea;
    --secondary-color: #aeaeae;
    --circle-shape: 50%;
}

@font-face {
	font-family: 'RobotoSlab';
	src: url("../font/RobotoSlab-Regular.ttf");
}

* {
    font-family: 'RobotoSlab', 'Helvetica', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#main-content {
    display: none; 
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.auto {
    margin: auto;
}

.btn-outline {
    background-color: transparent;
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.btn-outline:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: white !important;
}

.btn-outline-2 {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: white !important;
    min-width: 10em;
    height: 3em;
}

.btn-outline-2:hover {
    background-color: transparent !important;
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.primary {
    color : var(--primary-color);
}

.muted {
    color : var(--secondary-color); 
}

.text-title {
    font-size: 3em;
    font-weight: bold;
}

.text-sub-title {
    font-size: 1.75em;
}

.text-p {
    font-size: 1.125em;
}

.navbar {
    background-color: white;
    height: 8.125rem;
    transition: 0.5s ease;
}

.navbar-scrolled {
    height: 6.25rem;
    border-bottom: solid 1px #e1e1e1;
    transition: 0.5s ease;
}

.navbar-toggler {
    border: none !important;
    color: black !important;
    background-color: transparent !important;
}

.navbar-collapse {
    background-color:white !important; 
}

.navbar-brand-icon {
    width: 4em;
}

.nav-link {
    color: black !important;
    font-weight: 600 !important;
    margin: 0rem 0.625rem;
    transition: 1.5s ease;    
    font-size: 1.125rem !important;
    text-align: center;
}

.nav-link:hover {
    color: var(--primary-color)!important;
    font-weight: 600;
    border-bottom: 2px solid var(--primary-color) !important;
    transition: 0.1s ease;
}

.link-active {
    color: var(--primary-color) !important;
    font-weight: 600 ;
    border-bottom: 2px solid var(--primary-color) !important;
    transition: 1.5s ease;
}

.btn-return-top {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: var(--circle-shape) !important;
    padding: 0.625rem;
    margin: 0 0.25rem 1rem 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn-return-top-color {
    background-color: transparent !important;
    border-color: white !important;
    color: white!important;
}

.btn-return-top-color:hover {
    background-color: white !important;
    border-color: white !important;
    color: var(--primary-color) !important;
}

#home-icon-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
}

.home-icon {
    border-radius: var(--circle-shape) !important;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.25em !important;
}

#home-text-title {
    font-size: 4em;
    font-weight: bold;
    line-height: 0.9; 
}

#home-img-content {
    width: 80%;
    margin-bottom: 0.625em;
}

.bg-outline {
    background-color: var(--primary-color) !important;
}

#about-text-content {
    text-align: justify;
    line-height: 2.5;
}

.vertical-line {
    display: none;
    position: relative;
    margin: auto;
    width: 0.325em;
    height: 600px;
    background-color: var(--primary-color);
    border-radius: 15%;
}

.progress {
    height: 2.5em !important;
    width: 100% !important;
}

.about-icon {
    width: 3.125em !important;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
    font-size: 50px !important;
    color: var(--primary-color) !important;
    border: var(--primary-color) !important;
    border-radius: 5px;
    cursor: pointer;
}

.owl-carousel .owl-prev {
    margin-left: -30px;
}

.owl-carousel .owl-next {
    margin-right: -30px;
}

.timeline {
	position: relative;
	max-width: 75em;
	margin: 0 auto;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 0.375em;
	background-color: var(--primary-color);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -0.1875em;
}

.timeline-container {
	padding: 0.625em 2.5em;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 1.56em;
    height: 1.56em;
    right: -1.0625em;
    background-color: white;
    border: solid 4px var(--primary-color);
    top: 0.9375em;
    border-radius: 50%;
    z-index: 1;
}

.timeline-left {
	left: 0;
}

.timeline-right {
	left: 50%;
}

.timeline-right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 1.375em;
	width: 0;
	z-index: 1;
	left: 1.875em;
	border: medium solid white;
	border-width: 0.625em 0.625em 0.625em 0;
	border-color: transparent white transparent transparent;
}

.timeline-right::after {
	left: -1em;
}

#owl-carousel-2 .item .card {
    margin: 0 0.625em 0.625em 0.625em !important; 
    min-height: 20em;
}

#owl-carousel-2 .item .card .card-header {
    background-color: transparent;
    border: none;
    height: 15.625em;
}

.certificate-img-content {
    height: 15em;
}

.project-text-content {
    text-align: left;
}

.project-text-tag-content {
    border: var(--primary-color);
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    width: 6em;
    text-align: center;
    padding: 0.3125em;
    margin: 0 0.625em 0.625em 0;
    cursor: pointer;
}

.project-button-wrapper {
    display: flex;
    justify-content: end;
    margin: 0.625em 0;
}

footer {
    background-color: var(--primary-color);
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.btn-footer {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
    border-radius: 50%;
}

.btn-footer:hover {
    background-color: white !important;
    border-color: white !important;
    color: var(--primary-color) !important;
    border-radius: 50%;
}

.text-footer {
    position: relative;
    margin: 3.125em 0 1.25em 0;
    bottom: 0;
    font-weight: bold;
}

@keyframes fadeInTopRight {
    from {
        transform: translate(100%, -100%);
    }
    to {
        transform: translate(0, 0);
    }
}

@media only screen and (max-width: 991px) {
    .navbar-collapse {
        height: 100vh !important;
        width: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: fadeInTopRight 0.5s ease-in-out;
    }

    .navbar-collapse .navbar-nav {
        text-align: center;
        width: 100%;
    }

    .navbar-nav .nav-item {
        display: block;
        width: 100%;
    }

    .navbar-nav .nav-link {
        display: block;
    }

    #home-text-content {
        margin: 130px 0 0 0 !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #home-icon-wrapper {
        position: absolute;
        margin-top: 30px !important;
        left: 0 !important;
        right: 0 !important;
        justify-content: center;
    }

    .vertical-line {
        display: none;
    }

	.timeline::after {
		left: 31px;
	}
  
	.timeline-container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
  
	.timeline-container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}

	.timeline-left::after, .timeline-right::after {
		left: 15px;
	}

	.timeline-right {
		left: 0%;
	}

    .project-text-tag-content-wrapper {
        display: flex;
        justify-content: center;
    }

    .project-text-content {
        text-align: center !important;
    }

    .project-button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

